.full-width{
    width: 100%;
}

.full-page{
    height: calc(100vh - 130px);
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.with-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}