<h1>Ceci est une page de template de test</h1>
<br>Voici les valeurs des variables :
<br>
<!-- Inclure un block -->
{{ block_inclus }}
<!-- -->
<ul>
    <li>nom : {{ nom|upper }}</li>
    <li>prenom : {{ prenom }}</li>
    <li>message : {{ message }}</li>
    <li>liste des variables : {{ variables|json_encode }}</li>
</ul>


<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire
    soul, like these sweet mornings of spring which I enjoy with my whole heart.
</div>

