<div class="col-xs-12 full-page">
    <!-- TODO : Faire des pages ?-->
    <div class="box" style="max-height: 100%;">
        <div class="box-header">
            <!-- TODO : Filtres -->
            <div class="col-sm-10 no-padding">
                <!-- Filtre Campus -->
                <div class="col-sm-4">
                    <div class="input-group full-width">
                        <label for="campus_select">Campus : </label>
                        <select id="campus_select" class="input-sm" data-action="rechercherSalle">
                            {% for ecole in campus %}
                                <option value="{{ ecole.key }}">{{ ecole.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre Etage -->
                <div class="col-sm-4">
                    <div class="input-group full-width">
                        <label for="etage_select">Etage : </label>
                        <select id="etage_select" class="input-sm" data-action="rechercherSalle">
                            <option value="-1">Tous</option>
                            {% for etage in etages %}
                                <option value="{{ etage.key }}">{{ etage.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre Type -->
                <div class="col-sm-4">
                    <div class="input-group full-width">
                        <label for="type_select">Type : </label>
                        <select id="type_select" class="input-sm" data-action="rechercherSalle">
                            <option value="-1">Tous</option>
                            {% for type in types %}
                                <option value="{{ type.key }}">{{ type.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 no-padding">
                <button class="btn btn-block btn-primary btn-sm" data-action="rechercherSalle">
                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;
                    Rechercher
                </button>
            </div>
            <!-- /Filtres -->
        </div>
        <!-- /.box-header -->

        <div class="box-body table-responsive no-padding">
            <table class="table">
                <tr class="info unselectable">
                    <th class="col-sm-4" data-col="nom" role="button" data-action="rechercherSalle">Nom
                    </th>
                    <th class="col-sm-2" data-col="code" role="button" data-action="rechercherSalle">Code
                    </th>
                    <th class="col-sm-2" data-col="etage" role="button" data-action="rechercherSalle">Etage
                    </th>
                    <th class="col-sm-4" data-col="type_salle" role="button" data-action="rechercherSalle">Type
                    </th>
                </tr>
            </table>
        </div>
        <div class="box-body table-responsive no-padding" style="height: calc(100vh - 220px)">
            <table class="table table-hover">
                <tbody id="listeSalles">
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>