<div class="col-xs-12 full-page">
    <!-- TODO : Faire des pages ?-->
    <div class="box" style="max-height: 100%;">
        <div class="box-header">
            <!-- TODO : Filtres -->
            <div class="col-sm-10 no-padding">
                <!-- Filtre Campus -->
                <div class="col-sm-4">
                    <div class="input-group full-width">
                        <label for="campus_select">Campus : </label>
                        <select id="campus_select" class="input-sm">
                            {% for ecole in campus %}
                                <option value="{{ ecole.value }}">{{ ecole.key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre Etage -->
                <div class="col-sm-4">
                    <div class="input-group full-width">
                        <label for="etage_select">Etage : </label>
                        <select id="etage_select" class="input-sm">
                            {% for etage in etages %}
                                <option value="{{ etage.value }}">{{ etage.key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre Type -->
                <div class="col-sm-4">
                    <div class="input-group full-width">
                        <label for="type_select">Type : </label>
                        <select id="type_select" class="input-sm">
                            {% for type in types %}
                                <option value="{{ type.value }}">{{ type.key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 no-padding">
                <button class="btn btn-block btn-primary btn-sm">
                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;
                    Rechercher
                </button>
            </div>
            <!-- /Filtres -->
        </div>
        <!-- /.box-header -->

        <div class="box-body table-responsive no-padding">
            <table class="table">
                <tr class="info">
                    <th>Nom</th>
                    <th>Code</th>
                    <th>Etage</th>
                    <th>Type</th>
                </tr>
            </table>
        </div>
        <div class="box-body table-responsive no-padding" style="height: calc(100vh - 220px)">
            <table class="table table-hover">
                <tbody>
                {% for salle in salles %}
                    <tr>
                        <td>{{ salle.nom }}</td>
                        <td>{{ salle.code }}</td>
                        <td>{{ salle.etage }}</td>
                        <td>{{ salle.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>