<div class="col-sm-8">
    <div class="box box-warning">

        <!-- Réservations à venir-->
        <div class="box-header with-border">
            <h3 class="box-title">Réservations à venir</h3>
            <!--
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm" data-action="collapse"><i class="fa fa-minus"></i></button>
            </div>
            -->
        </div>

        <div class="box-body" style="height: calc(100vh - 180px); overflow-y: auto">
            {% if reservations|length > 0 %}
                {% for date, resas in reservations %}
                    <div class="col-sm-12 text-bold text-primary" style="margin-bottom: 10px;text-decoration: underline">
                        <i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>&nbsp;{{ date|date('d F Y') }}
                    </div>

                    {% for resa in resas %}
                        <div class="col-sm-12 small-pad">
                            <div class="col-sm-4 text-bold">
                                {{ resa.salle.nom }} ({{ resa.salle.code }})
                            </div>

                            <div class="col-sm-4">
                                de {{ resa.dateDebut|date('H\\hi') }} &nbsp;à&nbsp; {{ resa.dateFin|date('H\\hi') }}
                            </div>

                            <div class="col-sm-3">
                                {% if resa.salle.etage == 0 %}
                                    Rez-de-chaussé
                                {% elseif resa.salle.etage == 1 %}
                                    1er étage
                                {% else %}
                                    {{ resa.salle.etage }}ème étage
                                {% endif %}

                            </div>

                            <div class="col-sm-1">
                                <a role="button" data-action="supprimer-reservation" data-id="{{ resa.id }}" title="Supprimer la réservation">
                                    <i class="fa fa-trash-o text-red fa-fw" aria-hidden="true"></i>&nbsp;
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <div class="col-sm-12 text-center">
                    Aucune réservation pour le moment ¯\_(ツ)_/¯
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Calendrier -->
<div class="col-sm-4">
    <div class="box">
        <div id="full-clndr">

        </div>
    </div>
</div>