<div class="col-sm-12" style="margin-top: calc(50vh - 200px);">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		<div class="box box-danger" style="max-height: 100%; max-width: 100%">
			<div class="box-header" style="color: #444;display: block;padding: 10px;position: relative;">

				<div class="col-sm-12">
					<p style="font-size: 20px; text-align: center">Déconnexion à l'interface</p>
				</div>

				<div class="col-sm-12">
					<p style="text-align: center">Vous avez bien été déconnecté</p>
				</div>

			</div>
		</div>
	</div>
</div>

