<h1>Page de logout</h1>
<div class="row" style="margin-top:100px;">
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
	<div class="box" style="max-height: 100%; max-width: 100%">
		<div class="box-header" style="color: #444;display: block;padding: 10px;position: relative;">
			
			<div class="col-sm-12">
				<p style="font-size: 20px; text-align: center">Connexion à l'interface</p>
			</div>
			
			<div class="col-sm-12" style="background-color: LightCoral">
				<p style="text-align: center">Erreur de connexion, vérifier que votre identifiant et votre mot-de-passe sont corrects</p>
			</div>
		
			<label for="inputUsername" style="margin-top: 15px" class="col-sm-4 control-label">username</label>
			
			<div class="col-sm-8">
                <input type="username" style="margin-top: 10px" class="form-control" id="InputUsername" placeholder="Username">
			</div>
			
			<label for="InputPassword" style="margin-top: 15px" class="col-sm-4 control-label">password</label>
			
			<div class="col-sm-8">
                <input type="password" style="margin-top: 10px" class="form-control" id="InputPassword" placeholder="*********">
			</div>
			
			<div class="col-sm-12">
                <button type="button" style="margin-top:10px" class="btn btn-block btn-primary btn-sm">connexion</button>
            </div>
			
		</div>
	</div>
</div>
