<!-- Fenetre de réservation -->
<div class="col-sm-8">
    <div class="box box-success">
        <div class="box-header">

            <!-- Choix du campus -->
            <div class="row with-margin">
                <div class="col-sm-12">
                    <div class="form-group form-group-sm">
                        <label for="campus_select" class="col-sm-2 control-label" style="padding-top: 4px">Campus : </label>
                        <div class="col-sm-10">
                            <select id="campus_select" class="input-sm form-control" data-action="rechercherSalle">
                                {% for ecole in campus %}
                                    <option value="{{ ecole.key }}">{{ ecole.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Choix du campus -->

            <!-- Choix de la date -->
            <div class="row with-margin">
                <div class="col-sm-12">
                    <div class="form-group form-group-sm">
                        <label for="date_input" class="col-sm-2 control-label" style="padding-top: 4px">Date : </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control pull-right" id="date_input" type="text" data-provide="datepicker">
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
            </div>
            <!-- ./Choix de la date -->

            <!-- Choix de l'horaire -->
            <div class="row with-margin">
                <div class="col-sm-12">
                    <div class="form-group form-group-sm">
                        <label for="dateDebut_input" class="col-sm-2 control-label" style="padding-top: 4px">Horaires : </label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    De
                                </div>
                                <input class="form-control pull-right" id="dateDebut_input" title="Date de début" type="text" data-provide="timepicker">
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    à
                                </div>
                                <input class="form-control pull-right" id="dateFin_input" title="Date de fin" type="text" data-provide="timepicker">
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
            </div>
            <!-- ./Choix de la date -->

            <!-- Rechercher -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-2"></div>
                    <!-- Résultat -->
                    <span class="col-sm-5" style="padding-top: 7px">
                        <span id="recherche-texte2"></span>
                    </span>
                    <!-- Rechercher -->
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-block btn-primary btn-sm" data-action="reservation-rechercher-salle">
                            <i class="fa fa-search"></i> Rechercher
                        </button>
                    </div>
                </div>
            </div>
            <!-- ./Rechercher -->

            <!-- Motif -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12">
                        <label>Motif :</label>
                        <textarea class="form-control" rows="3" placeholder="Motif..." style="resize: none" id="motif_input"></textarea>
                    </div>
                </div>
            </div>
            <!-- ./Motif -->

            <!-- Boutons -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-danger btn-sm" data-action="reservation-annuler">
                            <i class="fa fa-times"></i> Annuler
                        </button>
                    </div>

                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-success btn-sm" data-action="reservation-valider">
                            <i class="fa fa-check"></i> Valider
                        </button>
                    </div>
                </div>
            </div>
            <!-- ./Boutons -->

        </div>
    </div>
</div>

<!-- Liste des salles - Resultat recherche -->
<div class="col-sm-4">
    <div class="box box-success">
        <div class="box-header with-border">
            <h4 class="box-title" style="padding-left: 5px">
                <i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;
                <span id="recherche-texte"></span>
            </h4>

        </div>
        <form>
            <div class="box-body" id="recherche-salles" style="max-height: 300px; overflow-y: auto; overflow-x: hidden">
            </div>
        </form>
    </div>
</div>